__pycache__
.pytest_cache
.ipynb_checkpoints
*~
./*.fasta
*.DS_Store
./*.index
./*.meta
./*.data-*
./checkpoint
./*.out
./*/*.c
./*/*.so
./*/*.html
build
align/align.c*
decoding/decoding_cpp.c*
decoding/decoding_cy.c*
*/*.html
