__pycache__
.pytest_cache
.ipynb_checkpoints
*~
./*.fasta
*.DS_Store
./*.index
./*.meta
./*.data-*
./checkpoint
poreover/*.out
poreover/*/*.c
poreover/*/*.so
poreover/*/*.html
build
poreover/align/align.c*
poreover/decoding/decoding_cpp.c*
poreover/decoding/decoding_cy.c*
poreover/*/*.html
